@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy-Medium', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1600px;
}

a {
    text-decoration: none;
}